.header {
    width: 100%;
    height: 100vh;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-image: linear-gradient(0, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),url(https://img1.ak.crunchyroll.com/i/spire3/d23bea1cbe84833135f94695d900f0651651339079_main.png);
}